html {

    width: 60em;
    margin: 0 auto;
}

body {

    margin: 0;
}

h1 {

    background-color: #5fd2ff;
    color: black;
    font-family: sans;
    padding: 10px;
    font-weight: bold;
    border: 3px solid rgb(75, 189, 255);
    text-align: center;
  }

  h2 {

    background-color: #dfff6d;
    border: 3px solid rgb(206, 255, 28);
    font-family: sans;
    padding: 2px 16px;
    font-weight: bold;
    text-align: left;
    margin: 0cm 2cm 0cm 0cm;
  }

  h3 {

    border: 1px solid black;
    background-color:  rgb(205, 241, 74);
    font-family: sans;
    padding: 15px 20px 3px 10px;
    text-decoration: none;
  }

  img {

    max-width: 100%;
    background-color: rgb(100, 250, 0);
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.322), 0 15px 12px rgba(211, 255, 12, 0.438);
   
}

li {
  
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: sans;
  background-color:  rgb(206, 255, 28);
  padding: 10xp;
  margin: 20px;
  list-style-type: square;
  border-radius: 5px;
  transition: transform .2s;
}

.nopun {
  list-style-type: none;
}

.centre {
  text-align: center;
}
